<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <p></p>
    </div>
    <div class="col-md-4">
      <%= link_to(job.title, job_path(job)) %>
    </div>
    <div class="col-md-4">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p></p>
    </div>
    <div class="col-md-3">
      <%= job.location %>
    </div>
    <div class="col-md-2">
      <%= job.wage_upper_bound%>~<%= job.wage_lower_bound %>¥
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <p></p>
    </div>
    <div class="col-md-3">
      <%= job.contact_email %>
    </div>
  </div>





<hr>
</div>
